.hidden {
    display: none !important;
}

.admin {
    border: 2px, solid, rgb(14, 75, 14);
    background-color: rgb(74, 153, 109);
}

.mod {
    border: 2px, solid, rgb(27, 97, 27);
    background-color: rgb(131, 197, 161);
}

.self {
    font-weight: bold;
}

.user {
    border: 2px, solid, rgb(82, 158, 135);
}