.hidden {
    display: none !important;
}

.admin, .mod, .user {
    border: 2px solid rgb(46, 94, 165);
    border-radius: 8px;
}
.admin {
    border-color: rgb(14, 62, 134);
    background-color: rgb(78, 131, 211);
}

.mod {
    background-color: rgb(175, 205, 230);
}

.self {
    font-weight: bold;
}

hr {
    border: 1px solid rgb(1, 78, 194);
}